
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    width: 100%;
    background: #1a1a1a;
    font-size: 1.4em;
    font-weight: 600;
    padding: 20px;
}
header {
    background: #f46b45;
    padding: 30px;
    border-radius: 8px;
    border: 1px solid #fff;
    margin-bottom: 20px;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-icon {
    position: relative;
    font-size: 2em;
    margin-right: 55px;
}
#cartCount {
    position: absolute;
    top: -22px;
    right: 10px;
    background: #ccc;
    color: #3a3a3a;
    border: 2px solid #111;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    font-size: 0.45em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#controls {
    width: 100%;
    background: #aaa;
    border-radius: 8px;
    border: 1px solid #fff;
    padding: 25px;
    margin-bottom: 20px;
}
select {
    width: 100%;
    max-width: 300px;
    height: 50px;
    font-size: 1em;
    font-weight: 700;
    padding: 3px 11px;
    border-radius: 4px;
}
.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    width: 100%;
}
#products {
    background: #fff;
    border-radius: 8px;
    border: 1px solid #000;
    padding: 25px;
    min-height: 300px;
}
.products-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}
.card {
    background: #fff;
    border-radius: 8px;
    border: 1px solid #111;
    padding: 20px;
    min-height: 200px;
}
.cartBtn {
    width: 120px;
    height: 30px;
    background: #b0dab9;
    border-radius: 16px;
    border: 1px solid #000;
    margin: 10px 0;
    cursor: pointer;
}
.productImage {
    width: 280px;
    border-radius: 8px;
    float: left;
    margin-right: 20px;
}
#items {
    width: 100%;
    height: auto;
    background: #fff;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 20px;
    min-height: auto;
}
#items > div {
    margin-bottom: 15px;
    padding: 25px 0;
    border-bottom: 1px solid #eee;
}
.name {
    width: 50%;
    text-align: left;
    float: left;
    padding-left: 10px;
}
.price {
    width: 50%;
    text-align: right;
    float: left;
    padding-right: 10px;
}
.totalPrice {
    text-align: right;
    font-size: 1.4em;
    background: #333;
    color: #fff;
    border-radius: 8px;
    margin-top: 80px;
    padding-right: 20px;
    clear: both; /* it makes sure the total price is always appears on a new line below all cart items */
}
